<div class="pip-cheatsheet-viewer">
  <div class="pip-cheatsheet-viewer-header">
    <div class="pip-cheatsheet-viewer-header-title"></div>
    <div class="pip-cheatsheet-viewer-header-timer"></div>
  </div>
  <div class="pip-cheatsheet-viewer-body">
    <div class="pip-cheatsheet-viewer-body-content">
      <div class="pip-cheatsheet-viewer-body-content-image"></div>
    </div>
  </div>
  <div class="pip-cheatsheet-viewer-footer">
    <div class="pip-cheatsheet-viewer-footer-control">
      <div class="pip-cheatsheet-viewer-footer-control-restart"></div>
      <div class="pip-cheatsheet-viewer-footer-control-back"></div>
      <div class="pip-cheatsheet-viewer-footer-control-play"></div>
      <div class="pip-cheatsheet-viewer-footer-control-stop"></div>
      <div class="pip-cheatsheet-viewer-footer-control-next"></div>
    </div>
  </div>
</div>
