<div class="pip-cheatsheet-app">
  <div class="pip-cheatsheet-app-header">
    <div class="pip-cheatsheet-app-header-title">pip cheatsheet</div>
  </div>
  <div class="pip-cheatsheet-app-body">
    <div class="pip-cheatsheet-app-body-left">mokuji</div>
    <div class="pip-cheatsheet-app-body-right">
      <div #pipViewer class="pip-cheatsheet-app-body-right-viewer">
        <pip-cheatsheet-viewer></pip-cheatsheet-viewer>
      </div>
      <p-button label="PIP View" (click)="onPipViewClick()" />
    </div>
  </div>
</div>
<router-outlet></router-outlet>
